// ROWXCOL.dot(row_ptr, col_ptr, length, col_stride)
function ROWXCOL.dot 4
    push argument 0
    pop local 2        // local 2 = row_ptr
    push argument 1
    pop local 3        // local 3 = col_ptr
    push constant 0
    pop local 0        // local 0 = accumulator
    push argument 2
    pop local 1        // local 1 = loop counter (length)

label LOOP_START
    push local 1
    push constant 0
    eq
    if-goto LOOP_DONE

    // Get W[i][k]
    push local 2
    pop pointer 1
    push that 0
    pop temp 0         // temp 0 = a

    // Get X[k][j]
    push local 3
    pop pointer 1
    push that 0
    pop temp 1         // temp 1 = b

    // Multiply temp 0 * temp 1 using repeated addition
    push constant 0
    pop temp 2         // temp 2 = product
    
    // Handle sign (assuming positive for simplicity in this test, 
    // but we'll use temp 1 as the counter)
    label MUL_ELEMENT_LOOP
        push temp 1
        push constant 0
        eq
        if-goto MUL_ELEMENT_DONE
        push temp 2
        push temp 0
        add
        pop temp 2
        push temp 1
        push constant 1
        sub
        pop temp 1
        goto MUL_ELEMENT_LOOP
    label MUL_ELEMENT_DONE

    // accumulator += product
    push local 0
    push temp 2
    add
    pop local 0

    // Increment pointers
    push local 2
    push constant 1
    add
    pop local 2
    push local 3
    push argument 3
    add
    pop local 3

    // decrement counter
    push local 1
    push constant 1
    sub
    pop local 1
    goto LOOP_START

label LOOP_DONE
    push local 0
    return
