// Sys.init for ROWXCOL test
function Sys.init 0
    // Vector A at 100, Vector B at 200
    push constant 1
    pop temp 0
    push temp 0
    pop pointer 1
    push constant 1
    pop that 0 // RAM[100]=1 (Wait, I'll use a simpler way)
    
    // Set RAM[100]=1, [101]=2, [102]=3
    push constant 1
    push constant 100
    pop pointer 1
    pop that 0
    push constant 2
    push constant 101
    pop pointer 1
    pop that 0
    push constant 3
    push constant 102
    pop pointer 1
    pop that 0
    
    // Set RAM[200]=4, [201]=5, [202]=6
    push constant 4
    push constant 200
    pop pointer 1
    pop that 0
    push constant 5
    push constant 201
    pop pointer 1
    pop that 0
    push constant 6
    push constant 202
    pop pointer 1
    pop that 0

    // call ROWXCOL.dot(100, 200, 3, 1)
    push constant 100
    push constant 200
    push constant 3
    push constant 1
    call ROWXCOL.dot 4
    pop static 0       // Store result in static 0 (RAM[16]) for easy check
    
label END
    goto END
