// MATMUL.multiply(W_base, W_rows, W_cols, X_base, X_cols, B_base, out_base)
// --- APPROACH A: MONOLITHIC TRIPLE LOOP ---
// No helper functions are called. Everything is handled internally.

function MATMUL.multiply 5
    push constant 0
    pop local 0        // i = 0
    push argument 0
    pop local 2        // row_ptr = W_base

label OUTER_LOOP
    push local 0
    push argument 1
    eq
    if-goto OUTER_DONE

    push constant 0
    pop local 1        // j = 0

label INNER_LOOP
    push local 1
    push argument 4
    eq
    if-goto INNER_DONE

    // --- Dot Product Logic (Manual) ---
    push constant 0
    pop temp 0         // temp 0 = dot product accumulator
    
    push local 2       // row_ptr_inner
    pop temp 1
    
    push argument 3    // X_base
    push local 1       // j
    add
    pop temp 2         // col_ptr_inner = X_base + j

    push constant 0
    pop temp 3         // k (inner loop counter)

    label DOT_LOOP
        push temp 3
        push argument 2 // W_cols
        eq
        if-goto DOT_DONE

        // a = RAM[temp 1]
        push temp 1
        pop pointer 1
        push that 0
        pop temp 4

        // b = RAM[temp 2]
        push temp 2
        pop pointer 1
        push that 0
        pop temp 5

        // Manual Multiplication: temp 4 * temp 5
        push constant 0
        pop temp 6     // element product
        label ELEMENT_MUL_LOOP
            push temp 5
            push constant 0
            eq
            if-goto ELEMENT_MUL_DONE
            push temp 6
            push temp 4
            add
            pop temp 6
            push temp 5
            push constant 1
            sub
            pop temp 5
            goto ELEMENT_MUL_LOOP
        label ELEMENT_MUL_DONE

        // dot_acc += product
        push temp 0
        push temp 6
        add
        pop temp 0

        // Increment pointers
        push temp 1
        push constant 1
        add
        pop temp 1
        
        push temp 2
        push argument 4 // X_cols (stride)
        add
        pop temp 2

        push temp 3
        push constant 1
        add
        pop temp 3
        goto DOT_LOOP
    label DOT_DONE

    // --- End Dot Product ---

    // result = dot_acc + bias B[i]
    push temp 0
    push argument 5
    push local 0
    add
    pop pointer 1
    push that 0
    add
    pop temp 0

    // Store in output[i][j]
    // out_ptr = out_base + (i * X_cols) + j
    // (We'll use temp 1 for offset calc)
    push constant 0
    pop temp 1
    push local 0
    pop temp 2
    label OFFSET_MUL_LOOP
        push temp 2
        push constant 0
        eq
        if-goto OFFSET_MUL_DONE
        push temp 1
        push argument 4
        add
        pop temp 1
        push temp 2
        push constant 1
        sub
        pop temp 2
        goto OFFSET_MUL_LOOP
    label OFFSET_MUL_DONE
    push argument 6
    push temp 1
    add
    push local 1
    add
    pop pointer 1
    push temp 0
    pop that 0

    // j++
    push local 1
    push constant 1
    add
    pop local 1
    goto INNER_LOOP

label INNER_DONE
    // row_ptr += W_cols
    push local 2
    push argument 2
    add
    pop local 2
    
    // i++
    push local 0
    push constant 1
    add
    pop local 0
    goto OUTER_LOOP

label OUTER_DONE
    push constant 0
    return
