// Sys.init for MATMUL test
function Sys.init 0
    // W matrix at 100, X at 200, B at 300, Out at 400
    push constant 100
    push constant 2
    push constant 2
    push constant 200
    push constant 2
    push constant 300
    push constant 400
    call MATMUL.multiply 7
    pop temp 0         // discard return value
    
label END
    goto END           // Infinite loop at end
